# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
applicant_data_df = pd.read_csv(
   Path("Resources/applicants_data.csv"))

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [4]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN', 'NAME'])

# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [5]:
# Create a list of categorical variables 
categorical_variables = applicant_data_df.select_dtypes('object').columns.to_list()

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [6]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [7]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [8]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names_out(categorical_variables))

# Review the DataFrame
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [9]:
 applicant_data_df.select_dtypes('int64').columns.to_list()

['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL']

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [10]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat(
    [
        applicant_data_df[applicant_data_df.select_dtypes('int64').columns.to_list()],
        encoded_df
    ],
    axis=1)

# Review the Dataframe
encoded_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [11]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df["IS_SUCCESSFUL"]

# Display a sample of y
y

0        1
1        1
2        0
3        1
4        1
        ..
34294    0
34295    0
34296    0
34297    1
34298    0
Name: IS_SUCCESSFUL, Length: 34299, dtype: int64

In [12]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns=["IS_SUCCESSFUL"])

# Review the features DataFrame
X

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [13]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [14]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [15]:
X_test_scaled

array([[ 0.01079982, -0.02957055, -0.12358845, ..., -0.07529085,
         0.02925687, -0.02925687],
       [ 0.01079982, -0.02957055, -0.12358845, ..., -0.07529085,
         0.02925687, -0.02925687],
       [ 0.01079982, -0.0293783 , -0.12358845, ..., -0.07529085,
         0.02925687, -0.02925687],
       ...,
       [ 0.01079982, -0.02957055,  8.09137097, ..., -0.07529085,
         0.02925687, -0.02925687],
       [ 0.01079982, -0.02957055, -0.12358845, ..., -0.07529085,
         0.02925687, -0.02925687],
       [ 0.01079982, -0.02957055, -0.12358845, ..., -0.07529085,
         0.02925687, -0.02925687]])

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [16]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [17]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [18]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  (number_input_features + 1) // 2 

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [19]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = (hidden_nodes_layer1 + 1) // 2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [20]:
# Create the Sequential model instance
nn = Sequential()

In [21]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [22]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [23]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=1, activation="sigmoid"))

In [24]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 58)                6786

 dense_1 (Dense)             (None, 29)                1711

 dense_2 (Dense)             (None, 1)                 30

=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [25]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [26]:
# Fit the model using 50 epochs and the training data
fit_model = nn.fit(X_train, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 4s 4ms/step - loss: 14143.2646 - accuracy: 0.4835
Epoch 2/50
804/804 [==============================] - 3s 4ms/step - loss: 11119.9004 - accuracy: 0.5033
Epoch 3/50
804/804 [==============================] - 3s 4ms/step - loss: 13041.5508 - accuracy: 0.4911
Epoch 4/50
804/804 [==============================] - 3s 4ms/step - loss: 6123.0439 - accuracy: 0.5096
Epoch 5/50
804/804 [==============================] - 3s 4ms/step - loss: 5356.0679 - accuracy: 0.4932
Epoch 6/50
804/804 [==============================] - 4s 5ms/step - loss: 3789.1145 - accuracy: 0.5176
Epoch 7/50
804/804 [==============================] - 2s 3ms/step - loss: 1743.7854 - accuracy: 0.5094
Epoch 8/50
804/804 [==============================] - 3s 3ms/step - loss: 6573.6030 - accuracy: 0.5023
Epoch 9/50
804/804 [==============================] - 3s 4ms/step - loss: 1466.2068 - accuracy: 0.4882
Epoch 10/50
804/804 [==============================] - 3s 4ms/step - loss: 3418.5266 - accuracy: 0.5015
Epoch 11/50
804/804 [==============================] - 3s 4ms/step - loss: 1057.9731 - accuracy: 0.5165
Epoch 12/50
804/804 [==============================] - 3s 3ms/step - loss: 104.8868 - accuracy: 0.5331
Epoch 13/50
804/804 [==============================] - 3s 4ms/step - loss: 0.6914 - accuracy: 0.5335
Epoch 14/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6910 - accuracy: 0.5335
Epoch 15/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6910 - accuracy: 0.5335
Epoch 16/50
804/804 [==============================] - 3s 4ms/step - loss: 0.6910 - accuracy: 0.5335
Epoch 17/50
804/804 [==============================] - 3s 4ms/step - loss: 0.6910 - accuracy: 0.5335
Epoch 18/50
804/804 [==============================] - 3s 4ms/step - loss: 0.6910 - accuracy: 0.5335
Epoch 19/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6910 - accuracy: 0.5335
Epoch 20/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6910 - accuracy: 0.5335
Epoch 21/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6910 - accuracy: 0.5335
Epoch 22/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6910 - accuracy: 0.5335
Epoch 23/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6910 - accuracy: 0.5335
Epoch 24/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6910 - accuracy: 0.5335
Epoch 25/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6910 - accuracy: 0.5335
Epoch 26/50
804/804 [==============================] - 3s 4ms/step - loss: 0.6910 - accuracy: 0.5335
Epoch 27/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6910 - accuracy: 0.5335
Epoch 28/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6910 - accuracy: 0.5335
Epoch 29/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6910 - accuracy: 0.5335
Epoch 30/50
804/804 [==============================] - 3s 4ms/step - loss: 0.6910 - accuracy: 0.5335
Epoch 31/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6910 - accuracy: 0.5335
Epoch 32/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6911 - accuracy: 0.5335
Epoch 33/50
804/804 [==============================] - 3s 4ms/step - loss: 0.6910 - accuracy: 0.5335
Epoch 34/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6910 - accuracy: 0.5335
Epoch 35/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6910 - accuracy: 0.5335
Epoch 36/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6910 - accuracy: 0.5335
Epoch 37/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6911 - accuracy: 0.5335
Epoch 38/50
804/804 [==============================] - 3s 4ms/step - loss: 0.6910 - accuracy: 0.5335
Epoch 39/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6910 - accuracy: 0.5335
Epoch 40/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6911 - accuracy: 0.5335
Epoch 41/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6910 - accuracy: 0.5335
Epoch 42/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6910 - accuracy: 0.5335
Epoch 43/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6911 - accuracy: 0.5335
Epoch 44/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6910 - accuracy: 0.5335
Epoch 45/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6910 - accuracy: 0.5335
Epoch 46/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6910 - accuracy: 0.5335
Epoch 47/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5335
Epoch 48/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6910 - accuracy: 0.5335
Epoch 49/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6911 - accuracy: 0.5335
Epoch 50/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6911 - accuracy: 0.5335

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [27]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.6575 - accuracy: 0.6386 - 917ms/epoch - 3ms/step
Loss: 0.6574505567550659, Accuracy: 0.6386005878448486

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [28]:
# Set the model's file path
file_path = Path("Resources/AlphabetSoup.h5")

# Export your model to an HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [29]:
#Alternative Model 1 has added 3rd hidden layer

# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [30]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [31]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 =  (number_input_features + 1) // 2 

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

58

In [32]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = (hidden_nodes_layer1 + 1) // 2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [33]:
# Define the number of hidden nodes for the third hidden layer
hidden_nodes_layer3 = (hidden_nodes_layer2 + 1) // 2

# Review the number hidden nodes in the second layer
hidden_nodes_layer3

15

In [34]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [35]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Add the second hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer2, activation="relu"))

# Add the third hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer3, activation="relu"))

# Output layer
nn_A1.add(Dense(units=1, activation="sigmoid"))

# Display the Sequential model summary
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 58)                6786

 dense_4 (Dense)             (None, 29)                1711

 dense_5 (Dense)             (None, 15)                450

 dense_6 (Dense)             (None, 1)                 16

=================================================================
Total params: 8,963
Trainable params: 8,963
Non-trainable params: 0
_________________________________________________________________

In [36]:
# Compile the Sequential model
nn_A1.compile(loss="mean_squared_error", optimizer="adam", metrics=["mse"])

In [37]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 4s 3ms/step - loss: 0.1948 - mse: 0.1948
Epoch 2/50
804/804 [==============================] - 3s 3ms/step - loss: 0.1858 - mse: 0.1858
Epoch 3/50
804/804 [==============================] - 3s 4ms/step - loss: 0.1844 - mse: 0.1844
Epoch 4/50
804/804 [==============================] - 3s 3ms/step - loss: 0.1836 - mse: 0.1836
Epoch 5/50
804/804 [==============================] - 3s 3ms/step - loss: 0.1832 - mse: 0.1832
Epoch 6/50
804/804 [==============================] - 2s 3ms/step - loss: 0.1830 - mse: 0.1830
Epoch 7/50
804/804 [==============================] - 3s 3ms/step - loss: 0.1824 - mse: 0.1824
Epoch 8/50
804/804 [==============================] - 3s 3ms/step - loss: 0.1821 - mse: 0.1821
Epoch 9/50
804/804 [==============================] - 3s 3ms/step - loss: 0.1818 - mse: 0.1818
Epoch 10/50
804/804 [==============================] - 3s 3ms/step - loss: 0.1817 - mse: 0.1817
Epoch 11/50
804/804 [==============================] - 3s 3ms/step - loss: 0.1812 - mse: 0.1812
Epoch 12/50
804/804 [==============================] - 3s 3ms/step - loss: 0.1810 - mse: 0.1810
Epoch 13/50
804/804 [==============================] - 3s 3ms/step - loss: 0.1809 - mse: 0.1809
Epoch 14/50
804/804 [==============================] - 3s 3ms/step - loss: 0.1809 - mse: 0.1809
Epoch 15/50
804/804 [==============================] - 3s 3ms/step - loss: 0.1808 - mse: 0.1808
Epoch 16/50
804/804 [==============================] - 2s 3ms/step - loss: 0.1806 - mse: 0.1806
Epoch 17/50
804/804 [==============================] - 3s 4ms/step - loss: 0.1806 - mse: 0.1806
Epoch 18/50
804/804 [==============================] - 3s 3ms/step - loss: 0.1805 - mse: 0.1805
Epoch 19/50
804/804 [==============================] - 3s 3ms/step - loss: 0.1803 - mse: 0.1803
Epoch 20/50
804/804 [==============================] - 2s 3ms/step - loss: 0.1801 - mse: 0.1801
Epoch 21/50
804/804 [==============================] - 2s 3ms/step - loss: 0.1799 - mse: 0.1799
Epoch 22/50
804/804 [==============================] - 3s 3ms/step - loss: 0.1796 - mse: 0.1796
Epoch 23/50
804/804 [==============================] - 3s 3ms/step - loss: 0.1798 - mse: 0.1798
Epoch 24/50
804/804 [==============================] - 3s 3ms/step - loss: 0.1796 - mse: 0.1796
Epoch 25/50
804/804 [==============================] - 3s 3ms/step - loss: 0.1796 - mse: 0.1796
Epoch 26/50
804/804 [==============================] - 3s 3ms/step - loss: 0.1792 - mse: 0.1792
Epoch 27/50
804/804 [==============================] - 3s 3ms/step - loss: 0.1794 - mse: 0.1794
Epoch 28/50
804/804 [==============================] - 3s 3ms/step - loss: 0.1793 - mse: 0.1793
Epoch 29/50
804/804 [==============================] - 3s 3ms/step - loss: 0.1791 - mse: 0.1791
Epoch 30/50
804/804 [==============================] - 3s 3ms/step - loss: 0.1791 - mse: 0.1791
Epoch 31/50
804/804 [==============================] - 3s 3ms/step - loss: 0.1792 - mse: 0.1792
Epoch 32/50
804/804 [==============================] - 3s 3ms/step - loss: 0.1791 - mse: 0.1791
Epoch 33/50
804/804 [==============================] - 3s 4ms/step - loss: 0.1789 - mse: 0.1789
Epoch 34/50
804/804 [==============================] - 3s 4ms/step - loss: 0.1788 - mse: 0.1788
Epoch 35/50
804/804 [==============================] - 3s 4ms/step - loss: 0.1788 - mse: 0.1788
Epoch 36/50
804/804 [==============================] - 3s 3ms/step - loss: 0.1786 - mse: 0.1786
Epoch 37/50
804/804 [==============================] - 3s 3ms/step - loss: 0.1790 - mse: 0.1790
Epoch 38/50
804/804 [==============================] - 3s 4ms/step - loss: 0.1787 - mse: 0.1787
Epoch 39/50
804/804 [==============================] - 3s 4ms/step - loss: 0.1786 - mse: 0.1786
Epoch 40/50
804/804 [==============================] - 3s 4ms/step - loss: 0.1786 - mse: 0.1786
Epoch 41/50
804/804 [==============================] - 3s 3ms/step - loss: 0.1784 - mse: 0.1784
Epoch 42/50
804/804 [==============================] - 3s 3ms/step - loss: 0.1785 - mse: 0.1785
Epoch 43/50
804/804 [==============================] - 3s 3ms/step - loss: 0.1784 - mse: 0.1784
Epoch 44/50
804/804 [==============================] - 3s 3ms/step - loss: 0.1783 - mse: 0.1783
Epoch 45/50
804/804 [==============================] - 3s 3ms/step - loss: 0.1784 - mse: 0.1784
Epoch 46/50
804/804 [==============================] - 3s 3ms/step - loss: 0.1782 - mse: 0.1782
Epoch 47/50
804/804 [==============================] - 3s 3ms/step - loss: 0.1781 - mse: 0.1781
Epoch 48/50
804/804 [==============================] - 3s 3ms/step - loss: 0.1782 - mse: 0.1782
Epoch 49/50
804/804 [==============================] - 3s 3ms/step - loss: 0.1782 - mse: 0.1782
Epoch 50/50
804/804 [==============================] - 3s 3ms/step - loss: 0.1779 - mse: 0.1779

In [38]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.1854 - mse: 0.1854 - 882ms/epoch - 3ms/step
Loss: 0.18540123105049133, Accuracy: 0.18540123105049133

#### Alternative Model 2

In [39]:
# Alternative Model 2 has linear activation function for output layer instead of sigmoid. Also has 200 epochs instead of 50.

# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [40]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [41]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 =  (number_input_features + 1) // 2 

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

58

In [42]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = (hidden_nodes_layer1 + 1) // 2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [43]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [51]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Add the second hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn_A2.add(Dense(units=1, activation="linear"))

# Display the Sequential model summary
nn_A2.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_7 (Dense)             (None, 58)                6786

 dense_8 (Dense)             (None, 29)                1711

 dense_9 (Dense)             (None, 1)                 30

 dense_10 (Dense)            (None, 58)                116

 dense_11 (Dense)            (None, 29)                1711

 dense_12 (Dense)            (None, 1)                 30

=================================================================
Total params: 10,384
Trainable params: 10,384
Non-trainable params: 0
_________________________________________________________________

In [45]:
# Compile the model
nn_A2.compile(loss="mean_squared_error", optimizer="adam", metrics=["mse"])

In [50]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1794 - mse: 0.1794
Epoch 2/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1794 - mse: 0.1794
Epoch 3/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1792 - mse: 0.1792
Epoch 4/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1791 - mse: 0.1791
Epoch 5/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1791 - mse: 0.1791
Epoch 6/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1792 - mse: 0.1792
Epoch 7/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1790 - mse: 0.1790
Epoch 8/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1789 - mse: 0.1789
Epoch 9/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1791 - mse: 0.1791
Epoch 10/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1789 - mse: 0.1789
Epoch 11/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1792 - mse: 0.1792
Epoch 12/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1789 - mse: 0.1789
Epoch 13/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1789 - mse: 0.1789
Epoch 14/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1788 - mse: 0.1788
Epoch 15/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1791 - mse: 0.1791
Epoch 16/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1791 - mse: 0.1791
Epoch 17/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1791 - mse: 0.1791
Epoch 18/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1788 - mse: 0.1788
Epoch 19/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1787 - mse: 0.1787
Epoch 20/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1787 - mse: 0.1787
Epoch 21/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1787 - mse: 0.1787
Epoch 22/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1787 - mse: 0.1787
Epoch 23/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1786 - mse: 0.1786
Epoch 24/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1786 - mse: 0.1786
Epoch 25/100
804/804 [==============================] - 5s 7ms/step - loss: 0.1785 - mse: 0.1785
Epoch 26/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1787 - mse: 0.1787
Epoch 27/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1785 - mse: 0.1785
Epoch 28/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1786 - mse: 0.1786
Epoch 29/100
804/804 [==============================] - 6s 7ms/step - loss: 0.1786 - mse: 0.1786
Epoch 30/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1785 - mse: 0.1785
Epoch 31/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1788 - mse: 0.1788
Epoch 32/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1784 - mse: 0.1784
Epoch 33/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1783 - mse: 0.1783
Epoch 34/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1784 - mse: 0.1784
Epoch 35/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1784 - mse: 0.1784
Epoch 36/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1783 - mse: 0.1783
Epoch 37/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1783 - mse: 0.1783
Epoch 38/100
804/804 [==============================] - 4s 4ms/step - loss: 0.1782 - mse: 0.1782
Epoch 39/100
804/804 [==============================] - 5s 6ms/step - loss: 0.1781 - mse: 0.1781
Epoch 40/100
804/804 [==============================] - 5s 6ms/step - loss: 0.1783 - mse: 0.1783
Epoch 41/100
804/804 [==============================] - 4s 4ms/step - loss: 0.1783 - mse: 0.1783
Epoch 42/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1784 - mse: 0.1784
Epoch 43/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1784 - mse: 0.1784
Epoch 44/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1781 - mse: 0.1781
Epoch 45/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1781 - mse: 0.1781
Epoch 46/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1781 - mse: 0.1781
Epoch 47/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1782 - mse: 0.1782
Epoch 48/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1784 - mse: 0.1784
Epoch 49/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1783 - mse: 0.1783
Epoch 50/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1780 - mse: 0.1780
Epoch 51/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1784 - mse: 0.1784
Epoch 52/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1781 - mse: 0.1781
Epoch 53/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1780 - mse: 0.1780
Epoch 54/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1781 - mse: 0.1781
Epoch 55/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1780 - mse: 0.1780
Epoch 56/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1779 - mse: 0.1779
Epoch 57/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1780 - mse: 0.1780
Epoch 58/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1784 - mse: 0.1784
Epoch 59/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1782 - mse: 0.1782
Epoch 60/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1780 - mse: 0.1780
Epoch 61/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1779 - mse: 0.1779
Epoch 62/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1779 - mse: 0.1779
Epoch 63/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1779 - mse: 0.1779
Epoch 64/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1778 - mse: 0.1778
Epoch 65/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1779 - mse: 0.1779
Epoch 66/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1780 - mse: 0.1780
Epoch 67/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1778 - mse: 0.1778
Epoch 68/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1779 - mse: 0.1779
Epoch 69/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1779 - mse: 0.1779
Epoch 70/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1777 - mse: 0.1777
Epoch 71/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1777 - mse: 0.1777
Epoch 72/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1778 - mse: 0.1778
Epoch 73/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1779 - mse: 0.1779
Epoch 74/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1778 - mse: 0.1778
Epoch 75/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1778 - mse: 0.1778
Epoch 76/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1777 - mse: 0.1777
Epoch 77/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1777 - mse: 0.1777
Epoch 78/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1778 - mse: 0.1778
Epoch 79/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1777 - mse: 0.1777
Epoch 80/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1778 - mse: 0.1778
Epoch 81/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1779 - mse: 0.1779
Epoch 82/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1778 - mse: 0.1778
Epoch 83/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1778 - mse: 0.1778
Epoch 84/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1780 - mse: 0.1780
Epoch 85/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1776 - mse: 0.1776
Epoch 86/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1776 - mse: 0.1776
Epoch 87/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1777 - mse: 0.1777
Epoch 88/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1776 - mse: 0.1776
Epoch 89/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1778 - mse: 0.1778
Epoch 90/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1778 - mse: 0.1778
Epoch 91/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1776 - mse: 0.1776
Epoch 92/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1777 - mse: 0.1777
Epoch 93/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1778 - mse: 0.1778
Epoch 94/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1776 - mse: 0.1776
Epoch 95/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1777 - mse: 0.1777
Epoch 96/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1777 - mse: 0.1777
Epoch 97/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1775 - mse: 0.1775
Epoch 98/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1775 - mse: 0.1775
Epoch 99/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1776 - mse: 0.1776
Epoch 100/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1776 - mse: 0.1776

In [52]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5627 - mse: 0.5627 - 884ms/epoch - 3ms/step
Loss: 0.5627389550209045, Accuracy: 0.5627389550209045

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [49]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 1s - loss: 0.6575 - accuracy: 0.6386 - 642ms/epoch - 2ms/step
Loss: 0.6574505567550659, Accuracy: 0.6386005878448486

In [53]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 1s - loss: 0.1854 - mse: 0.1854 - 679ms/epoch - 3ms/step
Loss: 0.18540123105049133, Accuracy: 0.18540123105049133

In [54]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 1s - loss: 0.5627 - mse: 0.5627 - 653ms/epoch - 2ms/step
Loss: 0.5627389550209045, Accuracy: 0.5627389550209045

### Step 3: Save each of your alternative models as an HDF5 file.

In [ ]:
# Set the file path for the first alternative model
file_path = Path("Resources/first_alternative_model.h5")

# Export your model to an HDF5 file
nn_A1.save(file_path)

In [ ]:
# Set the file path for the second alternative model
file_path = Path("Resources/second_alternative_model.h5")

# Export your model to an HDF5 file
nn_A2.save(file_path)